@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.login-btn{
  font-family: Google Sans, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    display: inline-block;
}

.login-btn:hover{
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
  background: #1b66c9;
}

.login-btn:active, .login-btn:focus{
  background: #1b63c1;
  box-shadow: 0 1px 3px 1px rgba(66, 64, 67, .15), 0 1px 2px 0 rgba(60, 64, 67, .3);
}